asgiref
Brotli
certifi
click
colorama
crispy-bootstrap5
crispy-tailwind
cssbeautifier
distlib
dj-database-url
Django
django-crispy-forms
django-environ
django-widget-tweaks
djlint
EditorConfig
filelock
gunicorn
h11
html-tag-names
html-void-elements
jsbeautifier
json5
packaging
pathspec
pillow
pipenv
platformdirs
psycopg2
psycopg2-binary
PyYAML
regex
setuptools
six
sqlparse
tqdm
typing_extensions
tzdata
uvicorn
virtualenv
whitenoise