{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
  <div class="grid grid-cols-3 gap-4">
    <div></div>
    <div class="py-2 px-3 rounded-xl bg-white mt-12">
      <h1 class="font-bold text-3xl text-center pb-5 ">Login</h1>
      <form method="post" class=" rounded px-8 py-8 my-20">
        {% csrf_token %}
        <div class="w-full mx-auto px-4">
          <label class="block uppercase text-gray-700 font-bold mb-2 "
                 for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
          {{ form.username|add_class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" }}
        </div>
        <div class="w-full mx-auto px-4">
          <label class="block uppercase text-gray-700 font-bold mb-2"
                 for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
          {{ form.password|add_class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" }}
        </div>
        <div class="flex items-center mt-4 justify-center w-full">
          <button class="bg-blue-900 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                  type="submit">Log In</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
