{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Dummy Banking System" />
    <title>
      {% block head_title %}
        Library Management System
      {% endblock head_title %}
    </title>
    <link href="https://unpkg.com/tailwindcss@2.0.1/dist/tailwind.min.css"
          rel="stylesheet" />
    {% block head_extra %}
    {% endblock head_extra %}
    <style>
      footer {
        width: 100%;
      }
    </style>
  </head>
  <body class="bg-indigo-500">
    {% include 'navbar.html' %}
    {% block body %}
      <div class="lg:container lg:mx-auto" id="main">
        {% include 'messages.html' %}
        {% block content %}
        {% endblock content %}
      </div>
      {% include 'footer.html' %}
    {% endblock body %}
  </body>
</html>
